@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.containerGlobal{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 900px;
    /* height: 600px; */
    height: fit-content;
    /* padding-left: 50px;
    padding-right: 50px; */
    /* border: 1px solid black; */
    margin-bottom: 100px;
}

.containerImg{
    position: relative;
    width: 55%;
    background: url('../img/bgHuellas.jpg');
    /* background-size: cover; */

}

/* .containerImg div{
    width: 350px;
    height: 300px;
    border: 1px solid black;
    background-repeat: no-repeat ;
    background-size:cover;
    background-position: center;
    margin: auto;
    margin-top: 150px;
} */



.container{
    position: relative;
    display: flex;
    background: white;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    border-radius: 10px;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 45%;
    height: fit-content;
    /* margin: auto; */
    align-content: center;
    /* justify-content: center; */
    /* width: 300px;
    height: 300px; */
}
h2{
    margin-top: 30px;
}

h4{
    position: relative;
    height: 20px;
    margin: 15px ;
}


.containerInputs{
    position: relative;
    display: grid;
    gap: 2em;
    margin: 0 auto 0 auto ;
    width: 80%;
    
}

 .container .btnSubmit{
    position: relative;
    /* top: 45px; */
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;

    border-radius: 30px;
    background: #9b7239;
    color: #ffffd5;
    font-size: 15px;
    border: none;
    height: 30px;
    outline: none;
    cursor: pointer;
    transition: all .5s;
}

.btnSubmit:hover{
    color: #7a551c;
    background: #ffffd5;
}


.container .containerInputs .inpt{
    border: none;
    width: 100%;
    padding: .6em .3em;
    outline: none;
    border-bottom: 1px solid black;

}
.group{
    position: relative;
    display: flex;
    background: red;
} 

  .lbl{
    /* cursor: pointer; */
    color: #5757577e;
   position: absolute;
   
   top: 5px;
   /* transform: translateY(-10px); */
    transition: transform .5s, color .5s;

}

.inpt:focus + .lbl,
.inpt:not(:placeholder-shown) + .lbl{
    transform: translateY(-18px) scale(.7);
    color: #3866f2;
    transform-origin: left top;

}

.containerTemps{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    margin-top: 15px;
}

.containerTemps .add{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    margin-top: 5px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 10;
}

.containerTemps .deleteTemper{
    width: 15px;
    margin: auto 0 auto 10px;
    font-size: 13px;
    text-align: center;
    height: 15px;
    border: 1px solid black;
}

.containerTemps input,
.containerTemps select {
    position: relative;
    margin-top: 5px;
    background: #F2F2F2;
    padding: 6px;
    border: none;
    border-bottom: 3px solid black;
    outline: 20px;
    transition: all 0.3s;
    width: 150px;
    margin-left: 50px;
}

.container .containerTemps input:focus,
.container .containerTemps select:focus {
    border-bottom: 2px solid #17a288;
}

.msgAlert{
    border: 1px solid black;
    background: white;
    z-index:10;
    width: 120px;
    font-size:12px;
    position:absolute;
    left:-45px;
    border-radius: 20px;
    padding: 10px;
    top:-95px;
    display:block;
}

.msgAlert::before {
    content:'';
    position:absolute;
    /* width: 15px;
    height: 15px; */
    top: 100%;
    left:57px;
    /* background: black; */
    border-left:9px solid transparent;
    border-top:18px solid black;
    border-right:9px solid transparent;
    
} 

.error,
.errorImg{
    font-size: 12px;
    color: red;
    position: absolute;
    text-align: left;
    
}

.error{
    top: 20px;
}
.errorImg{
    top: 90px;
}

.temperOption{
    position: relative;
    display: flex;
    flex-direction: row;
    
}

/* content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #333;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    right: -20px;
    top: 12px;
    z-index: 100;
    transform: roate(-45deg);*/