@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;700&display=swap');
 
 .optionsContainer {
    position: relative;
    list-style: none;
    /* display: block; */
    top: 40px;
    left: 100px;
    width: 100%;
    padding: 0px;
    z-index: -1;
    display: none;
}

.active .optionsContainer{
    display: block;
}

.optionsContainer .options{
    position: absolute;
    border-radius: 10px;
    width: 100%;
    background: white;
    display: block;
    padding: 0px 20px 10px 20px;
    border: 1px solid black;
    margin-top: 10px;
    left: -100px;
    text-align: left;

}

.optionsContainer ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding: 5px;
    /* margin-left: 10px; */
    /* position:absolute; */
}

.optionsContainer ul li{
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;

    
    /* border-bottom: 1px solid gray; */
}

.containerBox{
    position: absolute;
    box-sizing: content-box;
    margin-left: 95%;
    width: 100%;
    background-color: #fff;
    height: 20em;
    border-radius: 10px;
    /* position: absolute;
    display: block;
    width: 100%;
    height: fit-content;
    background-color: white;
    margin-left: 100%;
    margin-top:-50px; */
}



.containerBox input{
    position: relative;
    left: 10px;
    top: 10px;
    width: 80%;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid gray;
    outline: 1px;
    padding: 5px;
}


.containerBox ul{

    position: absolute;
    /* background-color: white; */
    text-align: left;
    width: 80%;
    margin-left: 10px;
    max-height: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    padding: 5px 5px 5px 15px;


}

.containerBox ul li{
    padding: 10px 15px;
    border-bottom:1px solid gray ;

}

.containerTempers{
    display: none;
    margin-top: -35px;
}

.containerRaces{
    margin-top: -40px;
    display: none;
}

.options li:hover{
    background: #F2F2F2;
}

/* .activeTemper .containerTempers{
    display: block;
}

.activeTemper .optionsContainer{
    display: block;
} */

.activeTemper {
    display: block;
}

.activeTemper .optionsContainer{
    display: block;
}


























/*

 .options {
    position: absolute;
    list-style: none;
    display: block;
    top: 40px;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.options ul{
    position: absolute;
    border-radius: 10px;
    width: 100%;
    background: white;
    display: block;
    padding: 12px 20px;
    border: 1px solid beige;
    margin-top: 10px;
    left: 0;

} */
/*
.options ul li{
    position: relative;
    left: 0;
    padding: 12px 12px;
    border:1px solid black;
} */

 /* .containerTempers{
    display: inline-block;
    position: absolute;
    width: fit-content;
    left: 120%;
    top: -20px;
} */
/* .options .containerTempers ul{
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto auto auto auto auto auto;

}

.options .containerTempers ul li{
    padding: 5px;

}  */